<div class="backdrop is-open">
  <div class="modal-blancket">
    <button class="click-button" type="button">
      <svg
        width="30"
        height="30"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M30 10L10 30"
          stroke="var(--white-text)"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M10 10L30 30"
          stroke="var(--white-text)"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <p class="title-blancket">YOUR BLANCKET</p>

    <section class="cart-blancket">
      <div class="block-blancket">
        <div class="text-tab">product</div>
        <div class="text-tab">count</div>
        <div class="text-tab">cost</div>
        <div class="text-tab">delete</div>
      </div>
      <section class="product-tab">
        <div class="product-image">
          <picture>
            <source
              media="max-width: 1280px"
              srcset="
                /img/desktop/vegetables-eggplant-img.webp,
                /img/desktop/vegetables-eggplant-img@2x.werp
              "
            />
            <source
              media="max-width: 768px"
              srcset="
                /img/tablet/vegetables-eggplant-img.webp,
                /img/tablet/vegetables-eggplant-img@2x.webp
              "
            />
            <img
              src="../img/mobile/vegetables-eggplant-img.webp"
              alt="Eggplant"
              width="240"
              height="200"
            />
          </picture>
          <p class="product-title">eggplant</p>
        </div>

        <div class="product-count">
          <label class="count">
            <input
              class="input-count"
              type="number"
              value="1"
              min="1"
              max="100"
            />
          </label>
        </div>
        <div class="product-price">60 USD / kg</div>
        <div class="product-delete">
          <svg
            class="icon-delete"
            width="20"
            height="20"
            viewBox="0 0 40 40"
            fill=""
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M30 10L10 30"
              stroke="var(--white-text)"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10 10L30 30"
              stroke="var(--white-text)"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </section>
      <div class="blancket-tab-price">
        <div class="cart-blancket-price">60 USD / kg</div>
      </div>

      <button class="btn-blancket" type="submit">SENT</button>
    </section>
  </div>
</div>
